.active a span{
	visibility: visible!important;
}
nav{
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 90px;
	background: #000;
  	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	background: rgba(0,0,0,0.7);
}
.nav_count{
	width: 1500px;
	height: 90px;
	margin:0 auto;
}
.nav_count>div{
	float: left;
	line-height: 90px;
	font-size: 20px;
}
.nav_left{
	display: block;
	width: 150px;
	height: 90px;	
}
.nav_list{
	width: 1200px;
	height: 90px;
	margin:0 auto;
}
.navbar_right{
	width: 150px;
	height: 90px;
}
.logo{
	width: 150px;
	height: 90px;
	vertical-align: top;
}
.nav_list ul{
	width: 950px;
	height: 90px;
	margin: auto;
}
.nav_list ul li{
	float: left;
	padding: 0 16px;
}
.nav_list ul li a{
	color: #1BA58D;
}
.nav_list li a span{
	visibility: hidden;
	padding-right: 5px;
}
.nav_list ul li a:hover span{
	visibility: visible;
}
.nav_list ul li a:hover {
	font-weight: 700;
}
.nav_right ul li{
	float: left;
	padding: 0 5px;
}
.nav_right ul li a {
	color: #1BA58D;
}


.devices:hover .devices_nav{
	display: block;
}
div.devices_nav{
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	background: #000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	background: rgba(0,0,0,0.6);
	transition: all 0.5s;
}
.devices_count{
	max-width: 950px;
	margin: auto;
	padding-top: 20px;
}
ul.devices_count li{
	padding-bottom: 16px;
}
.devices_count li a{
	display: block;
	padding-left: 10px;
	color: #1fa896;
	font-size: 15px;
	line-height: 1.2;
}


.log_reg{
	/*display: none;*/
	position: fixed;
	top: 32%;
	right: 0;
	width: 160px;
	height: 395px;
	background: #fff;
	border-radius: 5px 0 0 5px;
	box-shadow: 1px 2px 8px #999;
	z-index: 8;
}
.lr_titlt{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #feffff;
	font-size: 14px;
	text-align: center;
	background: #1fa896;
	border-radius: 5px 0 0 0;
}
.lr_content{
	width: 100%;
	height: 320px;
	color: #666;
	font-size: 12px;
}
.lr_list{
	width: 100%;
	height: 80px;
	margin: 0;
}
.lr_list>a{
	height: 80px;
	width: 80px;
	padding: 0;
	width: 50%;
	float: left;
}
.lr_content img{
	width: 28px;
	height: 28px;
}
.lr_content .thumbnail{
	border: none;

}
.lr_content .caption{
	padding: 0;
	padding-top: 5px;
	text-align: center;
}
.lr_now a{
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #1fa896;
	text-align: center;
	border-top: 1px solid #666;
	border-radius: 0 0 0 5px;
}
.tips{
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	width: auto;
	padding: 10px;
	height: auto;
	text-align: center;
	border-radius: 3px 0 0 3px;
	background: #1fa896;
	cursor: pointer;
	z-index: 8;
}
.tips ul{
	margin-bottom: 0;
}
.tips li{
	color: #fff;
	padding-top: 8px;
}
.tips .lr_show{
	writing-mode: vertical-lr;
	writing-mode: tb-lr;
}

footer{
	width: 100%;
	color: #B9B9B9;
	background: #222222;
	font-size: 16px;
}
div.footer_count{
	max-width: 1200px;
	margin: auto;
	padding-top: 32px;
	border-bottom: 1px solid #b9b9b9;
}
.footer_count div{
	text-align: center;
}
.copyright{
	max-width: 1200px;
	margin: auto;
	font-size: 14px;
	color: #bbb;
	padding: 13px  0 29px 0;
}
.copyright li{
	text-align: center;
}
/*下拉列表*/
.small_nav{
	display: none;
	width: 100%;
	height: auto;
	background: #3B4650;
	opacity: 0.7;
}
.small_nav li{
	
	font-size: 20px;
	transition: all 0.35s;
}
.small_nav li:hover a{
	color: #fff;
	background:  #1BA58D;
}
	
.small_nav li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding:5px 20px;
	color:  #1ba58d;
}	
/*导航自适应*/
.toggle{
		display: none;
		position:absolute;
		right: 10px;
		width: 30px;
		height: 30px;
}
.toggle i{
	color:  #1BA58D;
	padding: 4px;
	font-size: 26px;
	border: 1px solid #1ba58d;
	cursor: pointer;
}
@media screen and (max-width: 1500px) {
	.nav_list{
		width: 1100px;
	}
}
@media screen and (max-width: 1400px) {
	.nav_list{
		width: 1000px;
	}
}
@media screen and (max-width: 1300px) {
	.nav_list{
		width: 950px;
	}
}
@media screen and (max-width: 1230px) {

.nav_list,.nav_right{
		display: none;
	}
	.toggle{
		display: block;
	}
}


/*页脚调动*/
@media screen and (max-width: 992px){
	
	.copyright{
		text-align: center;
	}
}
@media screen and (max-width: 768px){
	.us_first a{
		display: block;
		text-align: center;
	}
	.us_concat{
		text-align: center;
	}
	.toggle{
		right: 15px;
	}
	.log_reg {
		right: -160px;
		display: none;
	}
	.tips{
		display: block;
	}

	/*小导航微调*/
	nav{height: 50px;}
	.nav_count{height: 50px;}
	.nav_count>div{line-height: normal;}
	.nav_left{height: 50px;}
	.logo{width: 110px;height: 50px;}
	.toggle{top: 5px;}


		
}
.tips1{
		display: none;
	}
.tips2{
	display: block;
}
	
#blog{display:block;width: 200px;margin:auto;color: red;font-size: 20px;}
/*粘性页脚*/
body{display: flex;min-height:100vh;flex-direction: column;}
#view{flex: 1;margin-top: 90px;}